<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.milite.mapper.CharacterStatusMapper">
	<!-- 캐릭터 DB에서 해당 이름과 일치하는 캐릭터의 정보 가져오기 -->
	<select id="getCharInfo"
		resultType="com.milite.dto.CharacterDto">
		select * from CharacterDB where name = #{name}
	</select>

	<!-- 플레이어DB에서 현재 플레이 중인 캐릭터 상황 불러오기 -->
	<select id="getPlayerInfo" resultType="com.milite.dto.PlayerDto">
		select
		Player_ID as
		PlayerID,
		Using_Character,
		curr_hp,
		max_hp,
		atk,
		luck,
		WhereSession,
		WhereStage,
		EventAtk,
		EventCurrHp,
		EventMaxHp,
		Using_Skill,
		Own_Skill,
		Own_Artifact
		from PlayerDB
		where Player_ID = #{PlayerID}
	</select>

	<!-- PlayerDB에 전투관련 스탯의 변경점을 업데이트하기 -->
	<update id="updateStatus"
		parameterType="com.milite.dto.PlayerDto">
		UPDATE PlayerDB
		<trim prefix="SET" suffixOverrides=",">
			<if test="curr_hp != null"> curr_hp = #{curr_hp}, </if>
			<if test="max_hp  != null"> max_hp = #{max_hp},  </if>
			<if test="atk     != null"> atk = #{atk},     </if>
			<if test="luck    != null"> luck = #{luck},    </if>

			<if test="EventAtk    != null"> EventAtk = #{EventAtk},    </if>
			<if test="EventCurrHp != null"> EventCurrHp = #{EventCurrHp}, </if>
			<if test="EventMaxHp  != null"> EventMaxHp = #{EventMaxHp},  </if>

			<if test="Using_Skill   != null"> Using_Skill = #{Using_Skill},   </if>
			<if test="Own_Skill     != null"> Own_Skill = #{Own_Skill},     </if>
			<if test="Own_Artifact  != null"> Own_Artifact = #{Own_Artifact},  </if>
		</trim>
		WHERE Player_ID = #{PlayerID}
	</update>

	<select id="getPlayerOwnSkill" resultType="string">
		SELECT Own_Skill FROM
		PlayerDB WHERE Player_ID = #{PlayerID}
	</select>

	<select id="getPlayerOwnArtifact" resultType="string">
		SELECT Own_Artifact
		FROM PlayerDB WHERE Player_ID = #{PlayerID}
	</select>

	<update id="addSkillToPlayer">
		UPDATE PlayerDB
		SET Own_Skill =
		CASE
		WHEN Own_Skill IS
		NULL OR Own_Skill = '' THEN CAST(#{skillId} AS CHAR)
		WHEN
		FIND_IN_SET(#{skillId}, Own_Skill) = 0 THEN CONCAT(Own_Skill,
		',',
		#{skillId})
		ELSE Own_Skill
		END
		WHERE Player_ID = #{playerId}
	</update>

	<!-- 카드 addSkill과 동일: 단일 UPDATE로 중복가드 -->
	<update id="addArtifactToPlayer">
		UPDATE PlayerDB
		SET Own_Artifact =
		CASE
		WHEN
		Own_Artifact IS NULL OR Own_Artifact = '' THEN CAST(#{artifactId} AS
		CHAR)
		WHEN FIND_IN_SET(CAST(#{artifactId} AS CHAR), Own_Artifact) = 0
		THEN CONCAT_WS(',', Own_Artifact, CAST(#{artifactId} AS CHAR))
		ELSE
		Own_Artifact
		END
		WHERE Player_ID = #{playerId}
	</update>

	<update id="replacePhoenixFeathers" parameterType="String">
		update
		PlayerDB
		set Own_Artifact =
		replace(Own_Artifact, '119', '120')
		where
		Player_ID =
		#{playerID}
		and
		find_in_set('119', Own_Artifact) > 0
	</update>

	<update id="addSkillToPlayerByString" parameterType="map">
		update
		PlayerDB
		set Own_Skill =
		case
		when Own_Skill is null or Own_Skill = '' then #{skillId}
		else CONCAT(Own_Skill, ',', #{skillId})
		END
		where Player_ID = #{playerId}
	</update>

	<update id="updatePlayerSkills" parameterType="map">
		update PlayerDB
		set Using_Skill = #{usingSkills}, Own_Skill = #{ownedSkills}
		where
		Player_ID = #{playerId}
	</update>
	
	<update id="applyAllDeltas">
	    UPDATE PlayerDB
	    SET
	      /* Player side */
	      max_hp  = max_hp + #{dPMaxHp},
	      curr_hp = LEAST(max_hp + #{dPMaxHp}, GREATEST(0, curr_hp + #{dPHp})),
	      atk     = atk  + #{dPAtk},
	      luck    = luck + #{dPLuck},
	
	      /* Monster side (event-only stats kept in PlayerDB) */
	      EventMaxHp  = EventMaxHp + #{dMMaxHp},
	      EventCurrHp = LEAST(EventMaxHp + #{dMMaxHp}, GREATEST(0, EventCurrHp + #{dMHp})),
	      EventAtk    = EventAtk + #{dMAtk}
	    WHERE Player_ID = #{playerId}
	</update>
	
</mapper>
	